.content-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3a3636;
  width: min(1200px, 100vw);
  box-sizing: border-box;
  padding: 2rem;
  border: 1px solid #3d3d3d;
}
