@font-face {
  font-family: roboto;
  src: url(Roboto-Thin.ttf);
}
html {
  min-height: 100vh;
  font-size: 12px;
  font-weight: 600;
}
body {
  margin: 0;
  font-family: "roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #333333;
  gap: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-size: 4rem;
  text-align: center;
}
.subtitle {
  font-size: 3rem;
}
